body {
  background-image: url("./unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  font-family: "Nanum Gothic", sans-serif;
  text-align: left;
  text-shadow: 3px 4px 5px #001722;
  max-width: 800px;
  margin: 0 auto;
}

.App-header h1 {
  text-align: center;
  font-family: "MegrimMedium";
  font-size: 65px;
  font-weight: bold;
  color: #ebe9e9;
  text-shadow: 4px 6px 5px 2px #144a5a;
  background-color: transparent;
  padding: 30px;
  margin: 0px auto;
  max-width: 800px;
}
.App .container {
  padding: 0;
  margin: 20px;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
