h2 {
  color: #f3f040;
}
p {
  color: #eeeeee;
}
.dictionary small {
  text-align: left;
  font-size: 12px;
  margin: 20px;
  color: rgb(191, 191, 192);
}
.search-form {
  display: block;
  margin: 0 auto;
  padding: 30px 10px 10px 10px;
  max-width: 675px;
  background-color: #1f263f;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: -1px -1px 4px 4px rgba(237, 220, 245, 0.3);
}
