.Results {
  text-align: left;
  background: transparent;
  max-width: 675px;
  margin: 20px auto;
  padding: 20px 40px;
  background-color: #171c2e;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: 1px 2px 4px 4px rgba(237, 220, 245, 0.3);
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
